:root {
  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  background-color: #000;
  padding-bottom: .1rem;
  top: -240px;
}

#banner {
  background-image: url(./assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: end;
}

#first-options {
  display: none;
  justify-content: end;
  gap: 1rem;
  margin-right: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

#first-options > * {
  padding: 0.25rem 0.5rem;
}

#first-options button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: all 1s ease;
}

#first-options button:hover {
  color: rgb(41, 75, 228);
}

h1 {
  text-align: center;
  padding: 0.3rem;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,36,86,0.65) 50%, rgba(0,0,0,1) 100%);
  color: white;
  user-select: none;
  z-index: 10;
  text-shadow: 3px 3px 3px black;
  width: 100%;
  margin-bottom: 0rem;
}

html, body, section {
  background-color: #222;
  color: #eee;
}

main {
  color: #eee;
  background-image: url(./imagenes/SL-093020-35920-11.png);
  background-repeat: no-repeat;
  background-size: cover;
}

label {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.player-container {
  display: flex;
  gap: 4rem;
  position: relative;
  justify-content: start;
  align-items: start;
  margin-top: 0rem;
  margin-bottom: 2rem;
  max-width: 1100px;
  margin: 0rem auto;
  padding: 2rem;
}

h2, .project-container {
  max-width: 1100px;
  padding: 2rem;
  margin: 0 auto;
  background-color: transparent;
}

.mas_info {
  background-color: rgba(0, 45, 128, 0.2);
  border-radius: 1rem;
  max-width: 1100px;
  padding: 0.75rem 2rem;
  margin: 0 auto;
  vertical-align: middle;
}

.mas_info p {
  margin-bottom: 0;
}

legend {
  padding: 1rem 0rem;
}

fieldset {
  border: none;
  gap: 1rem;
}

.form-stats > fieldset{
  display: flex;
  flex-direction: column;
}

.grid-container-stats {
  display: grid;
  grid-template-columns: 170px 140px;
}

.stats-pentagon {
  background-color: rgba(0, 45, 128, 0.3);
  width: 200px;
  height: 200px;
  border-radius: 1rem;
}

#pentagonCanvas {
  background-color: rgb(126,188,250);
  width: 240px;
  height: 240px;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 11;
}

#pentagonCanvas-2 {
  background-color: rgba(155, 191, 228, 0.7);
  width: 240px;
  height: 240px;
  border-radius: 1rem;
  padding: 1rem;
}

.axis-container-1, .axis-container-2 {
  position: relative;
  top: 0;
  z-index: 5;
  max-width: 250px;
  max-height: 244px;
  border: 2px solid rgba(111, 0, 255, 0.7);
  border-radius: 1.1rem;
  box-shadow: 0px 0px 10px rgba(111, 0, 255, 0.8);
}

.item-stat {
  position: relative;
}

#item-html, #item-python {
  left: 6rem;
  top: -15rem;
}

#item-css, #item-php {
  left: 0.5rem;
  top: -13rem;
}

#item-git, #item-java{
  left:12.4rem;
  top: -21rem;
}

#item-javascript, #item-mysql {
  left: 3rem;
  top: -8rem;
}

#item-angular, #item-phpmyadmin {
  left: 9.2rem;
  top: -10.4rem;
}

blockquote {
  font-style: italic;
  font-family:serif, sans-serif;
}

.lorem {
  font-size: 10rem;
  line-height: 10rem;
}

.cronologia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1035px;
  overflow: hidden;
}

.evento {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition: all 1s ease;
}

/* Selector de cajas impares */
.evento:nth-child(2n+1) {
  transform: translateX(-5000%);
  margin-bottom: 0px !important;
}

/* Selector de cajas pares */
.evento:nth-child(2n) {
  transform: translateX(5000%);
  margin-top: 0px !important;  
}

.active {
  transform: translateX(0%) !important;
}

.punto {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #eeeeee;
  padding: 0.25rem;
  border-radius: 50%;
  opacity: 0.5;
}

.fecha {
  font-weight: 600;
  font-size: 1.5rem;
}

.project-container {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #011127;
}

.section-blue {
  background-color: #011127;
  height: 300px;
}

.project-container div a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.25rem;
  transition: color .5s ease;
}

.project-container div a:hover {
  color: rgba(101, 250, 250, 0.8);
}

#my-face {
  opacity: 0.9;
  transition: opacity 5s cubic-bezier(.23,1.13,.94,.94);
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: rgba(223, 238, 255, 0.733);
}

#my-face:hover {
  opacity: 1;
}

.biografia {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.biografia a {
  padding: 2rem;
}

.biografia p {
  color: #000;
  max-width: 400px;
  padding: 2rem;
  font-weight: 500;
}